@import './base.css';
@import 'bootstrap-vue-next/dist/bootstrap-vue-next.css';
@import 'bootstrap/dist/css/bootstrap.css';

#app {
  font-weight: normal;
}

.squared-input-field {
  border-radius: 0;
  border-color: var(--color-text);
}

.text-success {
  color: var(--color-background-alt);
}

.b-form-group {
  margin: 0.2rem;
}

.circular-btn {
  width: 40px;
  height: 40px;
  padding: 2rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  border-color: var(--color-background-alt);
  background-color: var(--color-background-alt-lite);
}

.error-text, .invalid-feedback {
  color: var(--color-text-error);
}

.form-control.is-valid {
  border-color: var(--color-background-alt);
}

.btn-outline-success {
  border-color: var(--color-background-alt);

  &:hover {
    background-color: var(--color-background-alt);
  }
}

.btn-success {
  background-color: var(--color-background-alt);
  border-color: var(--color-background-alt);

  &:hover {
    background-color: var(--color-text-on-alt-background-hover);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

